[Desktop Entry]
Name=Meshtastic Client
Comment=Meshtastic Desktop Client
Exec=meshtastic-client
Terminal=false
Type=Application
Icon=meshtastic
Categories=Network;Utility;
NoDisplay=false

