[Desktop Entry]
Categories=Network;Utility;
Comment[en_US]=Meshtastic Desktop Client
Comment=Meshtastic Desktop Client
Exec=meshtastic-client
GenericName[en_US]=
GenericName=
Icon=/home/knuds/Desktop/Meshtastic/Meshtastic_client/meshtastic.png
MimeType=
Name[en_US]=Meshtastic Client
Name=Meshtastic Client
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
